* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.max-width {
  max-width: 1040px;
  margin: auto;
}
html{
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.1rem;
}
.logo h1 {
  color: red;
}
.logo span {
  color: rgb(192, 192, 73);
  padding-left: 10px;
}

.manu {
  display: flex;

  gap: 25px;
  color: red;
}
.manu button {
  background-color: red;
  color: white;
  padding: 0.2rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.manu button i {
  padding-right: 5px;
}
.manu ul  {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 15px;
}
.manu ul a{
  text-decoration: none;
  color: red;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.content-container .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  flex: 50%;
}
.content-container .content span {
  color: red;
}
.content-container .content h1 {
  font-size: 40px;
}
.content-container .content p {
  font-size: 20px;
  color: rgb(110, 107, 107);
}
.content-container .image {
  flex: 35%;
  position: relative;
  border-radius: 0.3rem;
  background-color: rgba(236, 234, 234, 0.856);
}
.content-container .image img {
  width: 100%;
}
.content button {
  padding: 0.5rem 2rem;
  background: red;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 0.3rem;
  width: 8rem;
  cursor: pointer;
}
.image p {
  color: rgb(61, 60, 60);
}
.web1 {
  border-radius: 0.2rem;

  font-size: 20px;
  position: absolute;
  top: 0;
}
.web2 {
  position: absolute;
  top: 32%;
  right: 0;
  font-size: 18px;
}
.web3 {
  position: absolute;
  bottom: 10%;
  left: 35%;
  font-size: 22px;
}

.main-card-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-bottom: 15px;
  width: 100%;
}
.main-card {
  display: flex;
  gap: 25px;
}
.main-card h1 {
  font-size: 2rem;
}
.main-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(232, 229, 229);
  border-radius: 0.3rem;
}

.main-card-content button {
  background: red;
  color: white;
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
.text-content h1 {
  font-size: 45px;
  color: rgb(153, 147, 147);
}
.text-content span {
  color: red;
}
.para {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 22px;
}
.text-content p {
  font-size: 25px;
  color: rgb(95, 91, 91);
  padding: 10px;
}
.text-content {
  padding: 10px;
  width: 50%;
  color: rgb(220, 152, 152);
}
.txt {
  padding: 0 15px;
  font-size: 15px;
}

.main-card-content img {
  width: 100%;
  border-radius: 0.3rem;
}
.duration {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 10px;
}
.duration .drt {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  gap: 5px;
  padding: 0 20px;
}
hr {
  width: 100%;
}
.duration .del {
  text-decoration: line-through;
}

/* main-contact-section */

#contact-text h1 {
  font-size: 35px;
  color: rgb(136, 133, 133);
  padding: 10px 0;
}
#contact-text p {
  font-size: 20px;
  color: rgb(62, 62, 62);
}
.content-container{
  flex: 50%;
  width: 100%;
}
#contact-text {
  margin: 20px 0;
  width: 50%;
  flex: 50%;
}
.input-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 25px;
  background: rgb(255, 255, 255);
}
.input-content button {
  width: 8rem;
  padding: 10px;
  border: none;
  border-radius: 0.3rem;
  background: red;
  color: white;
  cursor: pointer;
}

.input-content input,
textarea {
  padding: 15px 35px;
  border: 1px solid rgb(138, 136, 136);
  outline: none;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 21px;
  color:rgb(185, 180, 180);
}
.input-content textarea{
  resize: none;
}

.input-content div {
  position: relative;
}
.input-content textarea{
  padding: 35px;
}
.input-content div i {
  padding: 0 5px;
  position: absolute;
  left: 1%;
  bottom: 30%;
  font-size: 20px;  
  color: rgb(209, 76, 76);                                      px;
}
/* input-four-position */
.input-four textarea{
  padding: 15px 32px;
  border: 1px solid rgb(138, 136, 136);
  outline: none;
  border-radius: 0.3rem;
  width: 100%;
  font-size: 21px;
  color:rgb(170, 167, 167);

}
.input-four .trt{
  padding: 0 5px;
  position: absolute;
  left: 1%;
  bottom: 50%;
  font-size: 20px;  
  color: rgb(221, 50, 50);  
}

/* about-contact-style */

.about-contact{
  display: flex;
  gap: 25px;
 
}
/* about-style */
  
#about{
  padding: 25px 15px;
 border: none;
 outline: none;
 border-radius: .3rem;
  display: flex;
  width: 100%;
  flex: 80%;
  background: rgb(255, 250, 250);
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

#about h1{
  font-size: 45px;
  color: red;
  padding: 15px;
 
}
#about p{
  font-size: 20px;
}


/* footer-style */
.alpha{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #000;
  color: white;
  padding: 25px 15px;

}
.alpha h1 {
  color: red;
}
.alpha p{
  color: rgb(170, 169, 169);
  padding: 10px 10px;
}
.alpha span {
  color: rgb(192, 192, 73);
  padding-left: 10px;
}
.link{
  margin-top:20px ;
}

.link a{
  margin: 0 10px;
  font-size: 30px;
  
}

@media only screen and (max-width: 600px) {
  #all-container{
    text-align: center;
    margin: auto;
    padding: auto;
  }
  nav {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 15px;
  }

  .manu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .manu button {
    width: 7rem;
    display: flex;
    justify-content: center;
  }
  .main-card-content img {
    width: 100%;
  }

  .content-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .content-container .content {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .main-card-section {
    width: 100%;
    align-items: center;
  }
  .main-card {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }
  .text-content {
    text-align: center;
    width: 100%;
  }
  .main-card-content .txt {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
  }

  .about-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto auto;
    flex-direction: column;
    width: 100%;
   
    
    
}
#contact-text{
  
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}
.input-content{
   display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contact-container{
  width: 100%;
}
}
